
.header
	padding: 50px 0 0
	.header-top
		position: fixed
		z-index: 10
		top: 0
		left: 0
		right: 0
		height: 50px
		background-color: $blue
		.download
			float: right
			padding: 15px 20px 15px 45px
			color: white
			font-size: 15px
			line-height: 20px
			text-decoration: none
			background-color: $green
			background-position: 17px 16px
			background-repeat: no-repeat
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2218%22%20viewBox%3D%220%200%2019%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.3%203.9c.27.4.35.93.2%201.45l-3.07%2010.1a2.44%202.44%200%200%201-2.22%201.7H2.9c-1.14%200-2.36-.91-2.77-2.07-.18-.5-.18-1-.03-1.42.03-.22.07-.45.08-.71.01-.18-.09-.33-.06-.46.04-.27.27-.46.45-.76.34-.56.72-1.46.84-2.04.06-.21-.06-.46%200-.65.06-.21.27-.37.38-.57.3-.51.7-1.5.75-2.03.02-.23-.1-.5-.02-.67.07-.26.32-.37.49-.6.26-.36.71-1.42.78-2.01.02-.2-.1-.38-.06-.58.05-.21.31-.44.5-.7C4.7%201.2%204.78-.32%206.2.08L6.2.1c.19-.04.38-.1.57-.1h8.49c.52%200%201%20.23%201.27.63.3.4.36.92.2%201.45l-3.06%2010.1c-.52%201.73-.81%202.1-2.23%202.1h-9.7c-.14%200-.32.04-.42.17-.09.14-.1.24-.01.48.22.65%201%20.78%201.6.78h10.3c.42%200%20.9-.23%201.02-.63l3.35-11.02c.07-.21.07-.43.06-.63.25.1.49.25.66.48zm-11.88.03c-.07.2.04.36.25.36h6.78c.2%200%20.4-.16.47-.36l.23-.72c.07-.2-.04-.35-.24-.35H7.12c-.19%200-.4.15-.47.35l-.23.72zm-.93%202.86c-.06.2.05.35.25.35h6.79c.18%200%20.4-.15.46-.35l.24-.72c.07-.2-.05-.36-.25-.36H6.2c-.2%200-.4.16-.47.36l-.24.72z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

		.lang-switcher
			float: right
			margin: 15px 30px 0 0
			list-style: none
			li
				float: left
				padding: 0 10px
				&.current
					a
						color: white
				a
					display: block
					color: $blue_ligh_2
					font-size: 13px
					line-height: 20px
					text-transform: uppercase
					text-decoration: none




.section-header-bottom
	background-color: $blue_ligh

	&.no-slider
		[class^="col-"]
			position: relative
		.header__logo
			margin: 0
			width: 215px
		.table-block
			height: 210px


	.header__logo
		display: inline-block
		vertical-align: top
		margin-top: 60px
		svg
			display: block
			width: 100%


	.item-image
		height: 370px
		background-repeat: no-repeat
		background-position: center top
		background-size: cover


	// .col-xs-12
	// 	position: relative
	.header-text
		position: absolute
		left: calc(16.666667% + 15px)
		right: calc(50% + 15px)
		bottom: 40px

	h1
		text-transform: uppercase
		margin: 0
	h3
		margin: 0
	p
		font-size: 15px
		line-height: 24px



.table-block
	display: table
	width: 100%
	height: 370px
	.table-block-wrap
		display: table-cell
		vertical-align: middle






.owl-theme
	.owl-nav
		margin-top: 0
		[class*='owl-']
			position: absolute
			bottom: 55px
			width: 20px
			height: 34px
			background-position: 0 0
			background-repeat: no-repeat

		.owl-prev
			background-image: url('')
		.owl-next
			background-image: url('')






.header__main-menu
	float: left
	list-style: none
	margin: 0
	padding: 15px 0
	> li
		float: left
		position: relative
		// padding: 8px 0
		padding: 0 58px 0 0
		&:last-child
			padding: 0
			&:before
				display: none
		&:before
			position: absolute
			top: 0
			right: 29px
			bottom: 0
			width: 1px
			content: ''
			background-color: rgba(255,255,255,0.2)
		a
			display: block
			position: relative
			color: white
			font-size: 15px
			line-height: 20px
			text-transform: uppercase
			text-decoration: none








// .home_page
// 	&.loaded
// 		.header
// 			.container
// 				margin-top: 0
// 				opacity: 1


// .home_page
// 	&.loaded-fast
// 		.header
// 			.container
// 				margin-top: 0
// 				opacity: 1
// 				transition: 0s ease-in-out
// 				-webkit-transition: 0s ease-in-out
// 				transition-delay: 0s
// 				-webkit-transition-delay: 0s

// .home_page
// 	.header
// 		.container
// 			opacity: 0
// 			margin-top: -60px
// 			transition: 1.5s cubic-bezier(.90,.15,.1,.85)
// 			-webkit-transition: 1.5s cubic-bezier(.90,.15,.1,.85)
// 			transition-delay: 0.4s
// 			-webkit-transition-delay: 0.4s
// 		.lang-switcher, .dropdown-menu
// 			background-color: white


// .video_page
// 	.header
// 		.lang-switcher, .dropdown-menu
// 			background-color: white


// .simple_page_image
// 	.lang-switcher, .dropdown-menu
// 		background-color: white


// .simple_page:not(.video_page)
// 	.header
// 		.header__logo
// 			svg
// 				g
// 					fill: $blue_lighter

// 		.header__info
// 			a
// 				color: $blue_lighter

// 		.search-trigger
// 			svg
// 				path
// 					fill: $blue_lighter
// 		.menu-trigger
// 			&:before,
// 			&:after
// 				background-color: $blue_lighter

// 		.lang-switcher, .dropdown-menu
// 			border: 1px solid rgba(65,69,77, 0.2)

// 		.main-menu-block
// 			.header__main-menu
// 				> li
// 					&.with-submenu
// 						&:before
// 							background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%2341454D%22%20stroke-width%3D%222%22%20d%3D%22M1%201l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 					a
// 						color: $blue_lighter


// .header
// 	position: absolute
// 	z-index: 5
// 	top: 10px
// 	left: 0
// 	right: 0
// 	padding: 20px 0
// 	&.fixed
// 		position: fixed
// 		top: -100px
// 		background-color: white
// 		-webkit-box-shadow: 0 16px 32px 0 rgba(13,17,26, 0.1)
// 		box-shadow: 0 16px 32px 0 rgba(13,17,26, 0.1)
// 		// .main-menu-block .header__main-menu > li.with-submenu .sub-menu
// 		// 	top: calc(100% + 40px)

// 	&.fixed-amimate
// 		top: 0
// 		transition: top 0.3s ease-in-out
// 		-webkit-transition: top 0.3s ease

// 	&.search-open
// 		.row
// 			opacity: 0.2

// 	&.search-open, &.fixed

// 		.header__logo
// 			svg
// 				g
// 					fill: $blue_lighter

// 		.header__info
// 			a
// 				color: $blue_lighter

// 		.search-trigger
// 			svg
// 				path
// 					fill: $blue_lighter
// 		.menu-trigger
// 			&:before,
// 			&:after
// 				background-color: $blue_lighter

// 		.lang-switcher, .dropdown-menu
// 			border: 1px solid rgba(65,69,77, 0.2)
// 			background-color: white
// 		.dropdown-menu
// 			border-top: none

// 		.main-menu-block
// 			.header__main-menu
// 				> li
// 					&.with-submenu
// 						&:before
// 							background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%2341454D%22%20stroke-width%3D%222%22%20d%3D%22M1%201l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 					a
// 						color: $blue_lighter

// 	.header__logo
// 		float: left
// 		svg
// 			display: block

// 	.header__info
// 		float: left
// 		margin: 0 0 0 25px
// 		a
// 			display: block
// 			color: white
// 			font-size: 18px
// 			line-height: 22px
// 			text-transform: uppercase
// 			text-decoration: none
// 			&.email
// 				position: relative
// 				&:before
// 					position: absolute
// 					bottom: 0
// 					left: 0
// 					width: 0
// 					height: 2px
// 					content: ''
// 					border-radius: 2px
// 					background-color: white
// 					transition: width 0.35s ease
// 					-webkit-transition: width 0.35s ease
// 				&:hover
// 					&:before
// 						width: 100%

// 	.lang-switcher
// 		float: right
// 		position: relative
// 		padding: 0 15px
// 		// width: 130px
// 		text-align: right
// 		text-transform: uppercase
// 		border: 1px solid white
// 		border-bottom: none

// 		.dropdown-trigger
// 			font-size: 18px
// 			line-height: 24px
// 			font-weight: 500
// 			color: $blue_lighter
// 			// padding: 7px 19px 7px 0
// 			padding: 9px 19px 5px 0
// 			border: none
// 			background: none
// 			cursor: pointer
// 			position: relative
// 			text-transform: uppercase
// 			&:before
// 				position: absolute
// 				width: 10px
// 				height: 6px
// 				right: 0
// 				top: 17px
// 				content: ''
// 				background-position: 0 0
// 				background-repeat: no-repeat
// 				background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%2341454D%22%20stroke-width%3D%222%22%20d%3D%22M1%201l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 			&.dropdown-open
// 				color: $grey_b8

// 		.dropdown-menu
// 			position: absolute
// 			top: 100%
// 			left: -1px
// 			right: -1px
// 			display: none
// 			list-style: none
// 			border-top: none
// 			li
// 				margin: 0 15px
// 				border-top: 1px solid rgba(184,191,204, 0.35)
// 				&.current
// 					display: none
// 				a
// 					display: block
// 					color: $blue_lighter
// 					font-size: 18px
// 					line-height: 24px
// 					padding: 8px 20px 8px 0
// 					text-decoration: none
// 					&:hover
// 						color: $green




// .win_os
// 	.header
// 		.lang-switcher
// 			.dropdown-trigger
// 				padding: 6px 19px 8px 0

// 		.header__info
// 			margin-top: -3px

// 	.main-menu-block
// 		.header__main-menu
// 			> li
// 				padding: 7px 0 9px
// 				&.with-submenu
// 					.sub-menu
// 						li
// 							padding: 0 40px 15px 30px
// 							&.with-submenu
// 								&:before, &:after
// 									top: 8px


// .main-menu-block
// 	position: fixed
// 	z-index: 1
// 	top: 0
// 	bottom: 0
// 	left: 100%
// 	width: calc(100% - 30px)
// 	background-color: white

// 	transition: left 0.3s ease
// 	-webkit-transition: left 0.3s ease
// 	&.open-menu
// 		left: 30px

// 	.header__main-menu
// 		list-style: none
// 		margin: 0
// 		padding: 0
// 		> li
// 			position: relative
// 			// padding: 8px 0
// 			padding: 10px 0 6px

// 			a
// 				position: relative
// 				color: $blue_lighter
// 				font-size: 18px
// 				line-height: 24px
// 				text-transform: uppercase
// 				text-decoration: none
// 			&.with-submenu
// 				.sub-menu
// 					margin: 0
// 					list-style: none
// 					padding: 12px 0 28px
// 					li
// 						// padding: 8px 0
// 						padding: 10px 0 6px
// 						&.current
// 							a
// 								color: $green
// 								opacity: 1
// 						a
// 							opacity: 0.5
// 							font-size: 14px
// 							color: $blue_lighter
// 							white-space: nowrap


// .menu-trigger
// 	width: 25px
// 	height: 13px
// 	margin-top: 14px
// 	float: right
// 	display: block
// 	cursor: pointer
// 	position: relative
// 	z-index: 2
// 	&.open
// 		&:before,
// 		&:after
// 			background-color: $blue_lighter

// 	&:before,
// 	&:after
// 		position: absolute
// 		left: 0
// 		width: 100%
// 		height: 2px
// 		border-radius: 2px
// 		background-color: white
// 		content: ''
// 		-webkit-transition: -webkit-transform 0.3s
// 		transition: transform 0.3s

// 	&:before
// 		top: 0
// 		// -webkit-transform: translateY(-7px)
// 		// transform: translateY(-7px)

// 	&:after
// 		bottom: 0
// 		// -webkit-transform: translateY(7px)
// 		// transform: translateY(7px)

// 	// &.menu-is-open
// 	//   background-color: transparent
// 	//   &:before, &:after
// 	//     background-color: $grey_44

// 	&.open:before
// 		top: 6px
// 		-webkit-transform: translateY(0) rotate(135deg)
// 		transform: translateY(0) rotate(135deg)

// 	&.open:after
// 		bottom: 5px
// 		-webkit-transform: translateY(0) rotate(225deg)
// 		transform: translateY(0) rotate(225deg)



// .search-trigger
// 	position: relative
// 	z-index: 1 //0
// 	float: right
// 	width: 17px
// 	height: 17px
// 	cursor: pointer
// 	margin: 12px 30px 0 0
// 	svg
// 		display: block

// 	&.open-menu
// 		svg
// 			path
// 				fill: $blue_lighter


// .header + .search-block
// 	position: fixed
// 	z-index: 4
// 	top: -170px
// 	left: 0
// 	right: 0
// 	height: 170px
// 	background-color: white
// 	transition: top 0.3s ease
// 	-webkit-transition: top 0.3s ease
// 	&.open
// 		top: 0
// 	.search-block-inner
// 		padding: 65px 0 0 0


// .search-block
// 	.search-block-inner
// 		// padding: 65px 0 0 0
// 		.search-form
// 			position: relative
// 			padding-left: 55px
// 			// border-bottom: 1px solid rgba(65,69,77, 0.2)
// 			&:before
// 				position: absolute
// 				top: 43px
// 				left: 7px
// 				width: 26px
// 				height: 25px
// 				content: ''
// 				background-position: 0 0
// 				background-repeat: no-repeat
// 				background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2226%22%20height%3D%2225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20stroke%3D%22%2341454D%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M22%2019a9.7%209.7%200%200%201-14%200A10.9%2010.9%200%200%201%208%204a9.7%209.7%200%200%201%2014%200c4%204.2%204%2010.8%200%2015z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7%2018l-6%206%22%20stroke-linecap%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		input
// 			border: none
// 			background-color: transparent
// 			font-size: 30px
// 			line-height: 40px
// 			text-transform: uppercase
// 			padding: 37px 0 33px
// 			width: 100%


// @media (max-width: 767px)

// 	.main-menu-block
// 		.main-menu-inner
// 			overflow-y: auto
// 			position: absolute
// 			top: 0
// 			bottom: 0
// 			left: 0
// 			right: 0
// 			padding: 140px 40px 20px 60px

// @media (min-width: 768px)


// 	.header
// 		top: 40px


// 	.header + .search-block
// 		top: -240px
// 		height: 240px
// 		.search-block-inner
// 			padding: 130px 0 0 0



// 	.main-menu-block
// 		float: right
// 		width: auto
// 		position: relative
// 		top: auto
// 		bottom: auto
// 		left: auto
// 		background-color: transparent
// 		padding: 0
// 		.header__main-menu
// 			> li
// 				float: left
// 				margin-right: 40px
// 				&:last-child
// 					margin-right: 30px
// 				a
// 					padding-right: 20px
// 					color: white
// 				&.with-submenu
// 					&:before
// 						position: absolute
// 						width: 10px
// 						height: 6px
// 						right: 0
// 						top: 18px
// 						content: ''
// 						background-position: 0 0
// 						background-repeat: no-repeat
// 						background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20d%3D%22M1%201l4%204%204-4%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// 					.sub-menu
// 						display: none
// 						position: absolute
// 						top: calc(100% + 10px)
// 						left: -30px
// 						padding: 30px 0
// 						background-color: white
// 						-webkit-box-shadow: 0 25px 32px 0 rgba(13,17,26, 0.1)
// 						box-shadow: 0 25px 32px 0 rgba(13,17,26, 0.1)
// 						li
// 							position: relative
// 							padding: 0 40px 15px 30px
// 							&:last-child
// 								padding-bottom: 0
// 							&.with-submenu
// 								&:before, &:after
// 									position: absolute
// 									width: 6px
// 									height: 10px
// 									right: 25px
// 									top: 6px
// 									content: ''
// 									background-position: 0 0
// 									background-repeat: no-repeat
// 									transition: opacity 0.3s ease
// 									-webkit-transition: opacity 0.3s ease
// 								&:before
// 									z-index: 1
// 									background-image: url('data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M5.9%205.28l-4.3%204.6a.35.35%200%200%201-.53%200L.11%208.85a.41.41%200%200%201%200-.55L3.19%205%20.1%201.7a.41.41%200%200%201%200-.55L1.07.12a.35.35%200%200%201%20.52%200l4.3%204.6c.15.16.15.4%200%20.56z%22%20fill%3D%22%2341454D%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// 								&:after
// 									opacity: 0
// 									z-index: 1
// 									background-image: url('data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M5.9%205.28l-4.3%204.6a.35.35%200%200%201-.53%200L.11%208.85a.41.41%200%200%201%200-.55L3.19%205%20.1%201.7a.41.41%200%200%201%200-.55L1.07.12a.35.35%200%200%201%20.52%200l4.3%204.6c.15.16.15.4%200%20.56z%22%20fill%3D%22%2370A63A%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 							a
// 								opacity: 1
// 								// &:hover
// 								// 	color: $green

// 							.sub-menu-2
// 								visibility: hidden
// 								opacity: 0
// 								position: absolute
// 								left: 100%
// 								top: -30px
// 								margin: 0
// 								list-style: none
// 								padding: 30px 0
// 								background-color: $grey_f7
// 								transition: opacity 0.3s ease
// 								-webkit-transition: opacity 0.3s ease
// 								li
// 									padding: 0 40px 15px 30px
// 									&:last-child
// 										padding-bottom: 0
// 									// &.current
// 									// 	a
// 									// 		color: $green
// 									// 		opacity: 1
// 									// a
// 									// 	opacity: 0.5
// 									// 	font-size: 14px
// 									// 	color: $blue_lighter
// 									// 	white-space: nowrap


// @media (min-width: 1025px)

// 	.main-menu-block
// 		.header__main-menu
// 			> li
// 				&.with-submenu
// 					.sub-menu
// 						li
// 							&:hover
// 								&:before
// 									opacity: 0
// 								&:after
// 									opacity: 1
// 								.sub-menu-2
// 									visibility: visible
// 									opacity: 1
// 								> a
// 									color: $green
// 							&.current
// 								> a
// 									color: $green

// @media (min-width: 1200px)

// 	.header
// 		.header__info
// 			margin: 0 0 0 55px


// @media (min-width: 768px) and (max-width: 840px)

// 	.main-menu-block
// 		.header__main-menu
// 			> li
// 				margin-right: 20px
