.body-section
	padding: 60px 0 0





.toggle-block
	border-bottom: 1px dashed rgba(25,72,106,0.2)
	position: relative
	overflow: hidden
	margin-right: 30px
	&:last-child
		border: none

	.toggle-button
		position: relative
		cursor: pointer
		font-size: 25px
		line-height: 30px
		// font-weight: 500
		padding: 22px 30px 22px 0
		// color: $green_light_2
		-webkit-transition: color .25s ease-in-out
		transition: color .25s ease-in-out
		&.open-toggle
			color: $green
			&:before
				transform: rotate(135deg)
				-webkit-transform: rotate(135deg)
		&:before
			position: absolute
			top: 22px
			right: 20px
			width: 20px
			height: 20px
			content: ''
			background-repeat: no-repeat
			background-position: center center
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.5%2011.5v5.97c0%20.85-.67%201.53-1.5%201.53s-1.5-.68-1.5-1.53V11.5H2.53C1.68%2011.5%201%2010.83%201%2010s.68-1.5%201.53-1.5H8.5V2.53C8.5%201.68%209.17%201%2010%201s1.5.68%201.5%201.53V8.5h5.97c.85%200%201.53.67%201.53%201.5s-.68%201.5-1.53%201.5H11.5z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')

			-webkit-transition: -webkit-transform .25s ease-in-out
			transition: transform .25s ease-in-out


	.toggle-panel
		display: none
		font-size: 16px
		line-height: 24px
		padding: 0 0 22px
		p
			margin-bottom: 10px
		img
			display: block
			max-width: 100%
		*:last-child
			margin-bottom: 0


.sidebar-block
	padding-left: 40px
	border-left: 1px solid rgba(25,72,106,0.15)


.video-block
	margin-bottom: 50px
	a
		color: $blue
		text-decoration: none
	span
		vertical-align: top
	.video-image
		position: relative
		display: block
		margin-bottom: 20px

		img
			display: block
			width: 100%
			margin: 0
		&:before
			position: absolute
			z-index: 1
			top: 0
			left: 0
			right: 0
			bottom: 0
			content: ''
			background-color: rgba(0,0,0,0.3)
		&:after
			position: absolute
			z-index: 1
			top: calc(50% - 17px)
			left: calc(50% - 25px)
			width: 50px
			height: 35px
			content: ''
			background-repeat: no-repeat
			background-position: center center
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2250%22%20height%3D%2235%22%20viewBox%3D%220%200%2050%2035%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M19.84%2023.94L33.34%2017l-13.5-7.03v13.97zM25%200a316.66%20316.66%200%200%201%2015.46.39l2.03.11a18.69%2018.69%200%200%201%201.12.13l.66.12c.3.06.57.13.79.22l.78.36a5.37%205.37%200%200%201%201.68%201.28c.1.11.25.28.43.52.17.23.44.77.8%201.62.37.85.62%201.79.75%202.8a88.83%2088.83%200%200%201%20.5%206.94v4.9c.02%202.68-.15%205.37-.5%208.05a11.04%2011.04%200%200%201-.7%202.77c-.34.82-.63%201.4-.9%201.7l-.38.48a6.6%206.6%200%200%201-.81.73%204.7%204.7%200%200%201-.87.53l-.78.35c-.22.1-.49.17-.8.22l-.66.13a7.07%207.07%200%200%201-1.1.12C37.81%2034.82%2032%2035%2025%2035a516.84%20516.84%200%200%201-15.62-.39L8%2034.5l-1-.11a13.3%2013.3%200%200%201-1.53-.28%208.6%208.6%200%200%201-1.42-.58%205.58%205.58%200%200%201-2-1.66%209.31%209.31%200%200%201-.82-1.62c-.36-.85-.6-1.79-.74-2.8A88.83%2088.83%200%200%201%200%2020.5v-4.9c-.02-2.68.15-5.37.5-8.05.13-1.02.37-1.94.7-2.77.34-.82.63-1.4.9-1.7l.38-.48a6.6%206.6%200%200%201%201.68-1.28c.3-.14.56-.27.78-.36.22-.09.49-.16.8-.22l.65-.13A6.24%206.24%200%200%201%207.51.5C12.18.17%2018%200%2025%200z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A')
	.video-text
		display: block
		font-size: 14px
		line-height: 20px
		text-align: center








// .simple-page-section
// 	padding: 150px 0 30px

// .socials-block
// 	float: left
// 	height: 50px
// 	margin-bottom: 30px
// 	a
// 		position: relative
// 		float: left
// 		width: 60px
// 		height: 50px
// 		border-right: 1px solid #E6EAF2
// 		&:last-child
// 			border: none
// 		svg
// 			position: absolute
// 			top: 50%
// 			left: 50%
// 			transform: translate3d(-50%, -50%, 0)
// 			-webkit-transform: translate3d(-50%, -50%, 0)


// .article-image-section
// 	position: relative
// 	height: 100vh
// 	background-color: white
// 	overflow: hidden
// 	.image-block
// 		position: absolute
// 		z-index: 1
// 		top: 0
// 		left: 0
// 		// right: 0
// 		// bottom: 0
// 		height: 100%
// 		width: 100%
// 		background-repeat: no-repeat
// 		background-position: center center
// 		background-size: cover
// 		background-color: $blue
// 		img
// 			position: absolute
// 			top: 0
// 			left: 0
// 			right: 0
// 			bottom: 0
// 			width: 100%
// 			height: 100%
// 			display: block
// 			opacity: 0.6
// 			background-repeat: repeat
// 			background-position: center center
// 			background-size: cover

// 	.container
// 		z-index: 2
// 		height: 100%


// 	.article-image-section-title
// 		position: absolute
// 		bottom: 45px
// 		left: 30px
// 		h1, time
// 			color: white

// 		time
// 			font-size: 12px
// 			line-height: 14px
// 			margin-bottom: 25px

// 		h1
// 			margin: 0
// 			// font-family: $second_font



// .socials-wrapper
// 	position: relative

// .body-section
// 	table
// 		font-size: 15px
// 		width: 100%
// 		margin-bottom: 40px
// 		td
// 			padding: 22px 0
// 			border-bottom: 1px solid #E6EAF2
// 		tr
// 			&:last-child
// 				td
// 					border: none


// // .win_os
// // 	.body-section
// // 		table
// // 			td
// // 				padding: 22px 0



// .video-page-section
// 	padding: 100px 0 20px





// .simple-table
// 	margin-top: 120px
// 	&.no-margin
// 		margin: 0
// 	.thead
// 		.td
// 			padding-bottom: 15px
// 			font-size: 11px
// 			line-height: 13px
// 			color: #7f8490
// 			text-transform: uppercase

// 	.tbody
// 		.tr
// 			border-bottom: 1px solid #E6EAF2
// 			&:last-child
// 				.td
// 					border: none
// 		.td
// 			padding-top: 9px
// 			padding-bottom: 7px
// 			font-size: 12px
// 			line-height: 30px
// 			text-transform: uppercase
// 			a
// 				color: $blue
// 			img
// 				margin: 0


// .win_os
// 	.simple-table
// 		.tbody
// 			.td
// 				padding-top: 7px
// 				padding-bottom: 9px





// @media (min-width: 767px)

// 	.article-image-section
// 		.article-image-section-title
// 			left: 40px
// 			width: 75%


// 	.socials-block
// 		float: none
// 		height: auto
// 		margin-bottom: 0
// 		width: 50px
// 		position: absolute
// 		top: 0
// 		left: calc(50% - 25px)
// 		a
// 			float: none
// 			display: block
// 			padding: 20px 0
// 			width: 50px
// 			height: 60px
// 			border: none
// 			border-bottom: 1px solid #E6EAF2



// @media (min-width: 1025px)

// 	.simple-page-section
// 		padding: 230px 0 165px


// 	.video-page-section
// 		padding: 200px 0 100px


// 	.article-image-section
// 		.article-image-section-title
// 			position: absolute
// 			bottom: 135px
// 			left: 15px



// 	.simple-table
// 		margin-top: 120px
// 		.tbody
// 			.td
// 				padding-top: 19px
// 				padding-bottom: 17px
// 				font-size: 18px
// 				line-height: 30px
// 				a
// 					&:hover
// 						color: $green


// 	.win_os
// 		.simple-table
// 			.tbody
// 				.td
// 					padding-top: 17px
// 					padding-bottom: 19px


// 	// .socials-block
// 	// 	position: relative
// 	// 	margin-left: calc(50% - 65px)

// // 	.contacts-map
// // 		height: 590px
// // 		margin-bottom: 60px

// // 	.contacts-block
// // 		margin-bottom: 60px
// // 		.one-contact
// // 			padding-left: 16.66666667%
// // 			background-position: calc(16.66666667% - 45px) 5px
