
.blockquotes-section
	padding: 50px 0
	h2
		text-transform: uppercase


	blockquote
		font-style: italic

	blockquote, p
		margin-bottom: 10px


	.quotes
		display: block
		margin: 45px 0 0 45px



.testimonials-section

	background-color: $grey_f5
	.container
		padding-top: 60px
		padding-bottom: 70px

	.line
		position: absolute
		left: 15px
		right: 15px
		top: 0
		span
			display: block
			position: relative
			width: 33.3333%
			height: 6px
			padding: 0 33.3333%
			background-color: $yellow
			&:before
				position: absolute
				left: 0
				width: 33.3333%
				height: 6px
				content: ''
				background-color: $black
			&:after
				position: absolute
				right: 0
				width: 33.3333%
				height: 6px
				content: ''
				background-color: $red

	h2
		text-align: center
		margin-bottom: 30px


	.owl-theme
		.owl-dots
			padding-right: 33.33333%
			.owl-dot
				opacity: 0.2
				&.active
					opacity: 1
				span
					width: 5px
					height: 5px
					background-color: $blue




.testimonial-block
	[class^="col-"]
		position: relative
	.testimonial-author
		font-size: 15px
		line-height: 20px
		position: relative
		padding: 0 40px 0 120px
		.image
			position: absolute
			top: 0
			left: 40px
			border-radius: 30px
			overflow: hidden
		.name
			font-weight: 700

	blockquote
		font-size: 15px
		line-height: 24px
		font-style: italic











// .video-section
// 	.bg-video, .container
// 		opacity: 0
// 		transition: opacity 2s ease
// 		-webkit-transition: opacity 2s ease

// .loaded
// 	.video-section
// 		.bg-video, .container
// 			opacity: 1

// .loaded-fast
// 	.video-section
// 		.bg-video, .container
// 			opacity: 1
// 			transition: 0s ease-in-out
// 			-webkit-transition: 0s ease-in-out
// 			transition-delay: 0s
// 			-webkit-transition-delay: 0s

// .video-section
// 	position: relative
// 	// right: 0
// 	// bottom: 0
// 	// min-width: 100%
// 	// min-height: 100%
// 	// padding: 1000px 0 0
// 	background-color: $blue
// 	height: calc(100vh - 82px)
// 	min-height: 450px

// 	// &:before
// 	// 	position: absolute
// 	// 	z-index: 2
// 	// 	top: 0
// 	// 	left: 0
// 	// 	right: 0
// 	// 	bottom: 0
// 	// 	content: ''
// 	// 	opacity: 0.5
// 	// 	background-color: $blue

// 	.bg-video
// 		position: absolute
// 		z-index: 1
// 		top: 0
// 		left: 0
// 		height: 100%
// 		width: 100%
// 		// z-index: -1
// 		overflow: hidden
// 		// min-height: calc(100vh - 82px)
// 		min-width: 100%
// 		object-fit: cover


// 		.video-section__block
// 			width: 100%
// 			height: 100%
// 			display: block
// 			-o-object-fit: cover
// 			object-fit: cover

// 	.container
// 		z-index: 3
// 		height: 100%
// 		h1
// 			font-size: 48px
// 			line-height: 56px
// 			font-family: $second_font
// 			letter-spacing: -3px
// 			color: white
// 			position: absolute
// 			bottom: 60px
// 			left: 27px
// 			margin: 0
// 			text-transform: uppercase
// 			span
// 				display: inline-block
// 				&:last-child
// 					margin-top: 10px


// .reveal-box
// 	opacity: 0


// .block-revealer__element
// 	opacity: 0

// .loaded-fast
// 	.block-revealer__element, .reveal-box
// 		opacity: 1

// .weather-block
// 	position: absolute
// 	z-index: 4
// 	right: 30px
// 	top: 85px
// 	text-align: right
// 	font-family: $main_font_medium
// 	.weather-block-icon
// 		display: inline-block
// 		vertical-align: top
// 		width: 36px
// 		height: 36px
// 		margin: 4px 10px 0 0
// 		background-repeat: no-repeat
// 		background-position: center center
// 		&.icon-1
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.2%2010a7.8%207.8%200%201%201%200%2015.6%207.8%207.8%200%200%201%200-15.6m0%2017.2a9.4%209.4%200%201%201%200-18.8%209.4%209.4%200%200%201%200%2018.8zm-.8-21a.8.8%200%200%201-.8-.8V.8a.8.8%200%200%201%201.6%200v4.6c0%20.5-.3.8-.8.8zm0%2023.6c.5%200%20.8.3.8.8v4.6a.8.8%200%200%201-1.6%200v-4.6c0-.5.4-.8.8-.8zM6.2%2018.6c0%20.4-.3.8-.8.8H.8a.8.8%200%200%201%200-1.7h4.6c.5%200%20.8.4.8.9zm29-.9a.8.8%200%200%201%200%201.7h-4.6a.8.8%200%200%201%200-1.7h4.6zM8.9%2026.1c.3-.3.8-.3%201.2%200%20.3.4.3.9%200%201.2l-3.3%203.2c-.1.2-.3.3-.6.3-.2%200-.4-.1-.5-.3a.8.8%200%200%201%200-1.1L8.9%2026zM27.3%209.7c-.2%200-.4%200-.6-.2a.8.8%200%200%201%200-1.2l3.2-3.2c.4-.3.9-.3%201.2%200%20.3.3.3.8%200%201.1L28%209.5l-.6.2zm-.6%2016.4c.3-.3.8-.3%201.2%200l3.2%203.3a.8.8%200%200%201-1.2%201.1l-3.2-3.2a.8.8%200%200%201%200-1.2zM8.9%209.5L5.7%206.2a.8.8%200%200%201%201.1-1.1l3.3%203.2a.8.8%200%200%201-1.2%201.2z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-2
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2219%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M9.4%201.6a7.8%207.8%200%201%201%200%2015.6%207.8%207.8%200%200%201%200-15.6m0%2017.2A9.4%209.4%200%201%200%209.4%200a9.4%209.4%200%200%200%200%2018.8%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-3
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2234%22%20height%3D%2228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M20.2%2015.6h.1a5%205%200%200%201%204.9%205%205%205%200%200%201-5%205.2H6.6a5%205%200%200%201-4.9-5.1%205%205%200%200%201%205-5c.6%200%201.3%200%202%20.4a.8.8%200%200%200%201.1-.7%204.9%204.9%200%200%201%209.7-.4c0%20.4.4.6.8.6zm4.2%200c-1-1-2.3-1.5-3.6-1.6A6.6%206.6%200%200%200%2016%209.6c.9-1.9%202.8-3%204.8-3a5.3%205.3%200%200%201%203.6%209zm-4.1%2011.8H6.5a6.7%206.7%200%200%201%200-13.4c.6%200%201.2%200%201.8.2a6.5%206.5%200%200%201%206-4.8%206.9%206.9%200%201%201%2011.2%207.4%206.7%206.7%200%200%201-5.2%2010.6zM20.6%204a.8.8%200%200%201-.8-.8V.8a.8.8%200%200%201%201.6%200v2.3c0%20.5-.4.8-.8.8zm12%208.1a.8.8%200%200%201%200%201.7h-2.3a.8.8%200%200%201%200-1.7h2.3zM13.4%206.5l-1.6-1.7a.8.8%200%200%201%200-1.1c.3-.3.8-.3%201.1%200l1.7%201.6a.8.8%200%200%201-1.2%201.2zm14.3.2c-.2%200-.4%200-.5-.2a.8.8%200%200%201%200-1.2l1.6-1.6a.8.8%200%200%201%201.1%201.1l-1.6%201.7-.6.2zM29%2017.4l1.6%201.6a.8.8%200%200%201%200%201.2.8.8%200%200%201-1.2%200l-1.6-1.6a.8.8%200%200%201%200-1.2c.3-.3.9-.3%201.2%200z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-4
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2223%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M24.5%2010.7c-1-1-2.3-1.5-3.7-1.6A6.6%206.6%200%200%200%2016%204.7c.9-1.8%202.8-3%204.8-3a5.3%205.3%200%200%201%203.7%209m-4.3%200h.1a5%205%200%200%201%200%2010H6.5a5%205%200%201%201%202-9.5.8.8%200%200%200%201.2-.7%204.9%204.9%200%200%201%209.7-.4c0%20.4.4.7.8.7M20.8%200a6.9%206.9%200%200%200-6.5%204.5c-2.8.1-5.3%202-6%204.9L6.5%209a6.6%206.6%200%200%200%200%2013.2h13.8a6.6%206.6%200%200%200%205.3-10.4A7%207%200%200%200%2020.8%200%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-5
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.6%2017.5a9.4%209.4%200%200%201-12.7%200A.8.8%200%200%201%207%2016.3a7.7%207.7%200%200%200%2010.5%200l.6-.2a.8.8%200%200%201%20.5%201.4zm1.7-3.8a.8.8%200%200%201%200%201.7h-16a.8.8%200%200%201%200-1.7h16zM.8%2013.1a.8.8%200%200%201%200-1.6h23a.8.8%200%200%201%200%201.6H.7zm2.9-2.9a.8.8%200%200%201-.8-.8%209.4%209.4%200%200%201%2018.8%200%20.8.8%200%200%201-1.7%200%207.8%207.8%200%200%200-15.5%200c0%20.5-.4.8-.8.8z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-6
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M5.3%2024a.8.8%200%200%201%201.1%201.2L3.6%2028A.8.8%200%200%201%202.4%2027L5.3%2024zm4.5%200a.8.8%200%200%201%201.2%201.2L8.1%2028A.8.8%200%200%201%207%2027L9.8%2024zm4.6%200a.8.8%200%200%201%201.2%201.2L12.7%2028a.8.8%200%200%201-1.1%200%20.8.8%200%200%201%200-1.1l2.8-2.9zm4.6%200a.8.8%200%200%201%201.2%201.2L17.3%2028a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.1L19%2024z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20.2%2010.8h.1a5%205%200%200%201%200%209.8H6.5a5%205%200%201%201%202-9.4.8.8%200%200%200%201.2-.7%204.9%204.9%200%200%201%209.7-.4c0%20.4.4.7.8.7m4.3-.1c-1-1-2.3-1.5-3.7-1.6A6.6%206.6%200%200%200%2016%204.7c.9-1.8%202.8-3%204.8-3a5.3%205.3%200%200%201%203.7%209m-18%2011.6h13.8a6.6%206.6%200%200%200%205.3-10.4%207%207%200%201%200-11.3-7.4c-2.8.1-5.3%202-6%204.9L6.5%209a6.6%206.6%200%200%200%200%2013.2%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-7
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M.8%2019.4a.8.8%200%200%201%200-1.7H26a.8.8%200%201%201%200%201.7H.8zm0-2.3a.8.8%200%200%201%200-1.6H26a.8.8%200%201%201%200%201.6H.8zm0-2.3a.8.8%200%200%201%200-1.6H26a.8.8%200%201%201%200%201.6H.8zm0-2.6a.8.8%200%200%201-.8-.8c0-3.7%203-6.8%206.5-6.8.6%200%201.2%200%201.8.2A6.5%206.5%200%200%201%2014.6%200c2.8%200%205.4%201.9%206.2%204.6%203.4.3%206%203.3%206%206.8a.8.8%200%200%201-1.6%200c0-2.8-2.2-5.2-4.9-5.2h-.1c-.4%200-.8-.2-.8-.6a4.9%204.9%200%200%200-9.6.4.8.8%200%200%201-1.2.7c-.7-.3-1.4-.5-2-.5-2.7%200-5%202.4-5%205.2%200%20.5-.3.8-.8.8z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-8
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M17.4%206.2a.8.8%200%200%201-.8-.8V.8c0-.4.4-.8.8-.8.5%200%20.8.4.8.8v4.6c0%20.5-.3.8-.8.8zM.8%2019.4a.8.8%200%200%201%200-1.7h4.6a.8.8%200%200%201%200%201.7H.8zm7.6-9.5L5%206.7a.8.8%200%200%201%201.2-1.2l3.2%203.2a.8.8%200%200%201-.5%201.4c-.3%200-.5%200-.6-.2z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M22.7%2012.3l-11%2010.9a7.7%207.7%200%200%201%206-12.7c1.8%200%203.6.6%205%201.8M30%204.8L23.8%2011a9.4%209.4%200%200%200-13.2%2013.3L5%2029.8a.8.8%200%200%200%20.6%201.4c.2%200%20.5%200%20.6-.2l25-25a.8.8%200%200%200-1.2-1.2%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-9
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2219%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M9.4%201.6c1%200%202%20.3%203%20.7a9.3%209.3%200%200%200%200%2014.3A7.8%207.8%200%200%201%201.7%209.4c0-4.3%203.5-7.8%207.8-7.8m0%2017.2c1.8%200%203.5-.5%205-1.4.3-.2.4-.4.4-.7%200-.3-.1-.6-.4-.7a7.7%207.7%200%200%201%200-13.2c.3-.1.4-.4.4-.6%200-.3-.1-.6-.4-.7A9.4%209.4%200%200%200%200%209.5c0%205.1%204.2%209.3%209.4%209.3%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-10
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M9.6%2011.6c.7%200%201.3.2%202%20.5a.8.8%200%200%200%201.2-.7%204.9%204.9%200%200%201%209.6-.4c0%20.4.4.7.8.7h.2a5%205%200%200%201%204.8%205%205%205%200%200%201-4.9%205H9.6a5%205%200%200%201-5-5%205%205%200%200%201%205-5m1.7-1.5L9.6%2010c-2%200-4%201-5.3%202.7A5.9%205.9%200%200%201%202%2010.1c2.2.1%204.3-.7%205.8-2.3A7.7%207.7%200%200%200%2010.1%202a6%206%200%200%201%203.5%204.8c-1.1.9-2%202-2.3%203.4M24%2010A6.6%206.6%200%200%200%2015%206a7.7%207.7%200%200%200-5.8-6c-.3%200-.6%200-.8.2-.2.2-.3.5-.2.8A6%206%200%200%201%201%208.3c-.3%200-.6%200-.8.2-.2.2-.2.5-.2.8a7.7%207.7%200%200%200%203.5%204.9%206.7%206.7%200%200%200%206%209.2h13.8A6.7%206.7%200%200%200%2024%2010%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-11
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M4.6%2029.2a.8.8%200%200%201-1.1%200%20.8.8%200%200%201%200-1.2l2.8-2.9c.4-.3.9-.3%201.2%200%20.3.4.3.9%200%201.2l-2.9%202.9zm4.6%200a.8.8%200%200%201-1.1%200A.8.8%200%200%201%208%2028l2.8-2.9a.8.8%200%200%201%201.2%201.2l-2.9%202.9zm4.6%200a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.2l2.9-2.9a.8.8%200%200%201%201.2%201.2l-2.9%202.9zm4.6%200a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.2l2.9-2.9a.8.8%200%200%201%201.1%201.2l-2.8%202.9z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.3%2010.2L9.6%2010c-2%200-4%201-5.2%202.7A5.8%205.8%200%200%201%202%2010.1c2.2%200%204.3-.7%205.8-2.3A7.7%207.7%200%200%200%2010.1%202a6%206%200%200%201%203.5%204.8c-1.1.9-2%202-2.3%203.4m12%2011.7H9.6a5%205%200%200%201-5-5.1%205%205%200%200%201%205-5.2c.7%200%201.3.2%202%20.5h.7c.3-.2.4-.4.5-.7a4.9%204.9%200%200%201%209.6-.4c0%20.4.4.6.8.7h.2a5%205%200%200%201%204.8%205%205%205%200%200%201-4.9%205.2m.5-11.9a6.6%206.6%200%200%200-8.7-4%207.7%207.7%200%200%200-5.8-6c-.3%200-.6%200-.8.2-.2.2-.3.5-.2.8A6%206%200%200%201%201%208.3c-.3%200-.6%200-.8.2-.2.2-.2.5-.2.8a7.7%207.7%200%200%200%203.6%204.9c-.4.8-.6%201.7-.6%202.6%200%203.6%203%206.7%206.6%206.7h13.7c3.6%200%206.6-3%206.6-6.7%200-3.5-2.7-6.5-6-6.8%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-12
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M16.9%204.6a.8.8%200%200%201%200%201.6H.9a.8.8%200%200%201%200-1.6h16zm0-2.3a.8.8%200%200%201%200%201.6H.9a.8.8%200%200%201%200-1.6h16zm0-2.3a.8.8%200%200%201%200%201.6H.9A.8.8%200%200%201%20.8%200h16z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-13
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2231%22%20height%3D%2226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6%2023.7A.8.8%200%200%201%206%2022h13.7c.5%200%20.8.4.8.9%200%20.4-.3.8-.8.8H6zM6%2026a.8.8%200%200%201%200-1.7h13.7c.5%200%20.8.4.8.9%200%20.4-.3.8-.8.8H6z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M17.6%204.2a3.4%203.4%200%200%201%203.3-2.6c1.6%200%203%201.2%203.4%202.8%200%20.4.4.7.9.7%201.9%200%203.4%201.5%203.4%203.5%200%201.5-1%202.8-2.4%203.2-1-2.1-3.1-3.6-5.4-3.8-.5-1.6-1.7-3-3.2-3.8m2.6%205.5h.1a5%205%200%200%201%200%2010H6.5a5%205%200%200%201-4.9-5%205%205%200%200%201%205-5c.6%200%201.3.1%202%20.4h.7c.2-.2.4-.4.4-.7a4.9%204.9%200%200%201%209.7-.4c0%20.4.4.7.8.7m5.5-6.2C25%201.5%2023%200%2021%200A5%205%200%200%200%2016%203.6l-1.4-.2c-3%200-5.6%202-6.3%204.9L6.5%208a6.7%206.7%200%200%200%200%2013.4h13.8a6.7%206.7%200%200%200%206.4-8%205.1%205.1%200%200%200%203.6-4.8c0-2.7-2-4.8-4.6-5.1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-14
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2231%22%20height%3D%2227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M3%209.4c1.4-3.6%204.9-6%208.7-6a.8.8%200%200%201%200%201.7C8.5%205%205.7%207%204.5%2010a.8.8%200%200%201-1%20.4.8.8%200%200%201-.5-1zM1.2%207a.8.8%200%200%201-.5-1c1.4-3.7%204.9-6%208.8-6a.8.8%200%200%201%200%201.6c-3.2%200-6%202-7.3%205a.8.8%200%200%201-1%20.4z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20.2%2013.7h.1c2.8%200%204.9%202.9%204.9%205.4%200%202.6-2.1%205.5-5%205.5H6.6c-2.8%200-4.9-2.9-4.9-5.5%200-2.5%202.1-5.4%205-5.4.6%200%201.3.1%202%20.4a.8.8%200%200%200%201.1-.6%204.9%204.9%200%200%201%209.7-.5c0%20.4.4.7.8.7m-2.6-5.5a3.4%203.4%200%200%201%203.3-2.5c1.6%200%203%201.1%203.4%202.7%200%20.4.5.7.9.7%201.9%200%203.4%201.5%203.4%203.5%200%201.5-1%202.9-2.5%203.3-1.1-2.2-3.1-3.6-5.3-3.9-.5-1.6-1.7-3-3.2-3.8m-11%2018h13.7c3.5%200%206.5-3.3%206.5-7%200-.6%200-1.2-.2-1.8a5%205%200%200%200-.9-10C25%205.5%2023%204%2021%204A5%205%200%200%200%2016%207.6l-1.4-.2c-3%200-5.6%202-6.3%204.9L6.5%2012C3.1%2012%200%2015.4%200%2019.1c0%203.8%203%207.2%206.5%207.2%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-15
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7.4%2021.1a.8.8%200%200%201%201.7%200v4.6a.8.8%200%200%201-1.7%200v-4.6zm7%200a.8.8%200%200%201%201.6%200v4.6a.8.8%200%200%201-1.7%200v-4.6zm-3.5%200a.8.8%200%200%201%201.6%200v2.3a.8.8%200%200%201-1.6%200v-2.3zm6.8%200a.8.8%200%200%201%201.7%200v2.3a.8.8%200%200%201-1.7%200v-2.3z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20.3%2017.5H6.5c-2.7%200-4.9-3-4.9-5.7%200-2.6%202.2-5.6%205-5.6.6%200%201.3.2%202%20.5A.8.8%200%200%200%209.7%206a4.9%204.9%200%200%201%209.7-.4.8.8%200%200%200%201%20.6c2.7%200%204.8%203%204.8%205.6%200%202.6-2.2%205.7-5%205.7M6.6%2019h13.8c3.7%200%206.5-3.8%206.5-7.3%200-3.1-2.4-6.9-6-7.2A6.6%206.6%200%200%200%2014.6%200c-3%200-5.6%202-6.3%204.8l-1.8-.2C2.8%204.6%200%208.4%200%2011.8c0%203.5%202.8%207.3%206.5%207.3%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-16
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2229%22%20height%3D%2227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M1.4%2024.3a.8.8%200%200%201%201.4.6l-.3.6-1.1%201.1c-.2.2-.4.2-.6.2a.8.8%200%200%201-.6-1.4l1.2-1.1zM6%2019.7c.3-.3.8-.3%201.1%200l.3.6-.3.6-2.8%202.8a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.1L6%2019.7zm0%204.6a.8.8%200%200%201%201.4.6l-.3.6L6%2026.6c-.2.2-.4.2-.6.2a.8.8%200%200%201-.6-1.4L6%2024.3zm4.5-4.6c.4-.3.9-.3%201.2%200%20.3.3.3.9%200%201.2L9%2023.7a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.1l2.8-2.9zm0%204.6c.4-.3.9-.3%201.2%200%20.3.3.3.8%200%201.2l-1.1%201.1c-.2.2-.4.2-.6.2a.8.8%200%200%201-.6-1.4l1.1-1.1zm4.6-4.6c.3-.3.9-.3%201.2%200%20.3.3.3.9%200%201.2l-2.9%202.8a.8.8%200%200%201-1.1%200%20.8.8%200%200%201%200-1.1l2.8-2.9zm0%204.6c.3-.3.9-.3%201.2%200%20.3.3.3.8%200%201.2L15%2026.6c-.1.2-.3.2-.5.2a.8.8%200%200%201-.6-1.4l1.1-1.1zm4.6-4.6c.3-.3.8-.3%201.2%200%20.3.3.3.9%200%201.2L18%2023.7a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.1l3-2.9z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M26.6%2011.4c0%202.8-2.2%205.2-4.9%205.2H8c-2.7%200-5-2.4-5-5.2%200-2.8%202.3-5.2%205-5.2.7%200%201.3.2%202%20.5h.7c.3-.2.4-.4.5-.7a4.9%204.9%200%200%201%209.6-.4c0%20.4.4.6.8.6h.1c2.7%200%205%202.4%205%205.2m-4.5-6.8A6.6%206.6%200%200%200%2016%200c-3%200-5.5%202-6.3%204.8L8%204.6a6.8%206.8%200%200%200-6.6%206.8c0%203.7%203%206.8%206.6%206.8h13.7c3.6%200%206.6-3%206.6-6.8%200-3.5-2.7-6.5-6-6.8%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-17
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M13.4%2019.8L10%2023.2a.8.8%200%200%200%20.6%201.4h.8l-2.2%202.2a.8.8%200%200%200%200%201.2c.2.2.4.2.6.2.2%200%20.4%200%20.6-.2l3.6-3.6c.2-.2.3-.6.2-.9a.8.8%200%200%200-.8-.5h-.9l2-2c.3-.3.3-.9%200-1.2a.8.8%200%200%200-1.1%200%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M14.6%201.6a5%205%200%200%201%204.8%204%20.8.8%200%200%200%201%20.6c2.7%200%204.8%203%204.8%205.5%200%202.7-2.1%205.6-5%205.6H6.6c-2.8%200-4.9-3-4.9-5.6%200-2.6%202.1-5.5%205-5.5.6%200%201.3.2%202%20.5A.8.8%200%200%200%209.7%206a4.9%204.9%200%200%201%204.9-4.4m6.2%203A6.6%206.6%200%200%200%2014.6%200c-3%200-5.6%202-6.3%204.8l-1.8-.2C3.1%204.6%200%207.9%200%2011.7%200%2015.6%203%2019%206.5%2019h13.8c3.5%200%206.5-3.3%206.5-7.2%200-3.6-2.7-6.8-6-7%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-18
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18.3%2020.3c.3-.3.8-.3%201.1%200%20.4.3.4.8%200%201.1l-2.8%202.9a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.2l2.9-2.8zM8%2020.3c.3.3.3.8%200%201.1L5%2024.3a.8.8%200%200%201-1.1%200%20.8.8%200%200%201%200-1.2l2.8-2.8c.3-.3.9-.3%201.2%200zm4.2.4a.8.8%200%200%201%201.2%201.2l-1.9%201.7h.8a.8.8%200%200%201%20.6%201.4l-3.7%203.7a.8.8%200%200%201-1.1%200%20.8.8%200%200%201%200-1.2l2.2-2.3h-.9a.8.8%200%200%201-.6-1.4l3.4-3.1z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.5%206.2c.7%200%201.4.2%202%20.5A.8.8%200%200%200%209.8%206a4.9%204.9%200%200%201%209.7-.4c0%20.4.4.6.7.6h.2c2.6%200%204.9%202.5%204.9%205.3s-2.3%205.2-5%205.2H6.6c-2.6%200-4.9-2.4-4.9-5.2%200-2.8%202.3-5.3%205-5.3m14.2-1.6A6.6%206.6%200%200%200%2014.6%200c-3%200-5.6%202-6.3%204.8l-1.8-.2C3%204.6%200%207.7%200%2011.5c0%203.7%203%206.8%206.5%206.8h13.8c3.5%200%206.5-3.1%206.5-6.8%200-3.6-2.6-6.6-6-6.9%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-19
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10%2022.3a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7zm5.7%200a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7zM13.4%2020a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7zm5.7%200a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7zm-6.8%204.6a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7zM7.7%2020a.8.8%200%201%201%200%201.7.8.8%200%200%201%200-1.7z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M25.2%2011.7c0%202.6-2.1%205.5-5%205.5H6.6c-2.8%200-4.9-3-4.9-5.5%200-2.6%202.1-5.5%205-5.5.6%200%201.3.2%202%20.5h.7c.2-.2.4-.4.4-.7a4.9%204.9%200%200%201%209.7-.4c0%20.4.4.6.8.6h.1c2.8%200%204.9%203%204.9%205.5m-4.4-7A6.6%206.6%200%200%200%2014.6%200c-3%200-5.6%202-6.3%204.8l-1.8-.2C3.1%204.6%200%207.9%200%2011.7s3%207.1%206.5%207.1h13.8c3.5%200%206.5-3.3%206.5-7.1%200-3.6-2.7-6.8-6-7%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-20
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2227%22%20height%3D%2229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M18.7%2024.9a.8.8%200%201%201%200%201.6.8.8%200%200%201%200-1.6zm0-5.3c.5%200%20.9.4.9.8v2.3a.8.8%200%200%201-1.7%200v-2.3c0-.4.4-.8.9-.8zm-3.5%207.6a.8.8%200%201%201%200%201.6.8.8%200%200%201%200-1.6zm.1-7.6c.5%200%20.8.4.8.8V25a.8.8%200%200%201-1.6%200v-4.6c0-.4.4-.8.8-.8zm-3.5%205.3a.8.8%200%201%201%200%201.6.8.8%200%200%201%200-1.6zm0-5.3c.5%200%201%20.4%201%20.8v2.3c0%20.5-.5.8-1%20.8a.8.8%200%200%201-.7-.8v-2.3c0-.4.3-.8.8-.8zm-3.4%207.6a.8.8%200%201%201%200%201.6.8.8%200%200%201%200-1.6zm0-7.6c.5%200%20.9.4.9.8V25a.8.8%200%200%201-1.7%200v-4.6c0-.4.4-.8.9-.8z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M25.2%2011.5c0%202.8-2.3%205.2-5%205.2H6.6c-2.6%200-4.9-2.4-4.9-5.2%200-2.8%202.3-5.3%205-5.3.6%200%201.3.2%202%20.5h.7c.2-.2.4-.4.4-.7a4.9%204.9%200%200%201%209.7-.4c0%20.4.4.6.8.6h.1c2.6%200%204.9%202.5%204.9%205.3m-4.4-6.9A6.6%206.6%200%200%200%2014.6%200c-3%200-5.6%202-6.3%204.8l-1.8-.2C3%204.6%200%207.7%200%2011.5c0%203.7%203%206.9%206.5%206.9h13.8c3.5%200%206.5-3.2%206.5-7%200-3.5-2.6-6.5-6-6.8%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-21
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2231%22%20height%3D%2222%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M14.5%2012.1c.4-.3.9-.3%201.2%200%20.3.4.3.9%200%201.2L13%2016.2a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.2l2.8-2.9zm-4.9.7c.4.4.4.9%200%201.2l-2%202h1a.8.8%200%200%201%20.5%201.4L5.5%2021a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.1l2.3-2.2h-.9a.8.8%200%200%201-.6-1.4l3.4-3.4c.3-.4.8-.4%201.1%200zm-5.3-.7c.3.4.3.9%200%201.2l-2.9%202.9a.8.8%200%200%201-1.2%200%20.8.8%200%200%201%200-1.2l2.9-2.9c.3-.3.8-.3%201.2%200zm20.7-3c2.3%200%204%202.4%204%204.4%200%202.3-1.8%204.2-3.9%204.2a.8.8%200%200%201%200-1.6c1.3%200%202.2-1.4%202.2-2.6%200-1.2-1-2.7-2.3-2.7H5.3a.8.8%200%200%201%200-1.6H25zM26.3%200C28.6%200%2030%202.2%2030%204.3c0%202.2-1.9%204.2-4%204.2h-14a.8.8%200%200%201%200-1.6h14c1.2%200%202.3-1.3%202.3-2.6s-.8-2.7-2.1-2.7a.8.8%200%200%201%200-1.6z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-22
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M26.4%209c2.2%200%204%202.5%204%204.7a4%204%200%200%201-4%204%20.8.8%200%200%201%200-1.6c1.3%200%202.3-1.1%202.3-2.4%200-1.4-1.1-3-2.3-3H6.5a.8.8%200%200%201%200-1.7h19.9zm1.2-9c2.3%200%203.9%202.3%203.9%204.4a4%204%200%200%201-4%204H11.1a.8.8%200%200%201%200-1.7h16.4c1.3%200%202.3-1%202.3-2.3%200-1.2-1-2.8-2.2-2.8a.8.8%200%200%201%200-1.6zm-5%206H8.8a.8.8%200%200%201%200-1.6h13.8a.8.8%200%200%201%200%201.7zM4.3%209a.8.8%200%200%201%200%201.6H.8A.8.8%200%200%201%20.8%209h3.5zm5.4-1.5c0%20.5-.4.9-.9.9H5.4a.8.8%200%200%201%200-1.7h3.4c.5%200%20.9.4.9.8zM3%206.1a.8.8%200%200%201%200-1.7h3.4a.8.8%200%200%201%200%201.7H3.1z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')
// 		&.icon-23
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M24.7%200c3.5%200%206.7%203.4%206.7%207.1%200%203.8-3%207.1-6.6%207.1H11.1a.8.8%200%200%201%200-1.6h13.7c2.8%200%205-2.9%205-5.5%200-2.8-2.4-5.5-5-5.5a.8.8%200%200%201%200-1.6zm-1.1%207.4c0%202.1-1.8%204.6-4%204.6H5.4a.8.8%200%200%201%200-1.7h14.2c1.2%200%202.3-1.6%202.3-2.9C22%206.1%2021%205%2019.6%205a.8.8%200%200%201%200-1.6c2.2%200%204%201.9%204%204.1zm-8.2%201.4c0%20.5-.4.9-.8.9H.8A.8.8%200%200%201%20.8%208h13.8c.4%200%20.8.4.8.8z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')


// 	.weather-block-value
// 		display: inline-block
// 		vertical-align: middle
// 		font-size: 40px
// 		line-height: 50px
// 		color: white
// 		white-space: nowrap
// 		span
// 			opacity: 0.5
// 	.weather-block-status
// 		color: white
// 		text-transform: uppercase


// .loaded
// 	.header__flights-actions
// 		bottom: 58px
// 		opacity: 1
// 	.weather-block
// 		top: 125px
// 		opacity: 1


// .loaded-fast
// 	.header__flights-actions
// 		opacity: 1
// 		bottom: 58px
// 		transition: 0s ease-in-out
// 		-webkit-transition: 0s ease-in-out
// 		transition-delay: 0s
// 		-webkit-transition-delay: 0s
// 	.weather-block
// 		top: 125px
// 		opacity: 1
// 		transition: 0s ease-in-out
// 		-webkit-transition: 0s ease-in-out
// 		transition-delay: 0s
// 		-webkit-transition-delay: 0s

// .header__flights-actions, .weather-block
// 	opacity: 0
// 	transition: 1.5s cubic-bezier(.90,.15,.1,.85)
// 	-webkit-transition: 1.5s cubic-bezier(.90,.15,.1,.85)
// 	transition-delay: 0.3s
// 	-webkit-transition-delay: 0.3s


// .header__flights-actions
// 	position: absolute
// 	left: 40px
// 	right: 40px
// 	bottom: 0
// 	border-bottom: 2px solid rgba(255,255,255, 0.1)

// 	.header__flights-nav
// 		float: left
// 		.nav-tabs
// 			list-style: none
// 			li
// 				float: left
// 				opacity: 0.5
// 				position: relative
// 				margin-right: 30px
// 				padding: 0 0 35px 0
// 				transition: opacity 0.3s ease
// 				-webkit-transition: opacity 0.3s ease
// 				&.active
// 					opacity: 1
// 					&:before
// 						position: absolute
// 						left: 0
// 						right: 0
// 						bottom: -2px
// 						height: 2px
// 						border-radius: 2px
// 						content: ''
// 						background-color: white
// 				a
// 					color: white
// 					font-size: 20px
// 					line-height: 24px
// 					text-decoration: none
// 					text-transform: uppercase
// 				svg
// 					display: inline-block
// 					vertical-align: top
// 					margin: 3px 0 0 10px

// 	.header__flights-search
// 		float: right
// 		input
// 			position: relative
// 			border: none
// 			color: white
// 			font-size: 16px
// 			line-height: 24px
// 			width: 250px
// 			padding-left: 40px
// 			text-transform: uppercase
// 			background-repeat: no-repeat
// 			background-position: left center
// 			background-color: transparent
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M13.4%2011.4a5.5%205.5%200%201%200-7.8-7.8%205.5%205.5%200%200%200%207.8%207.8zm-10.2.2a7.5%207.5%200%201%201%201.3%201.5L1.7%2016a1%201%200%200%201-1.4-1.4l3-3z%22%20fill%3D%22%23FEFEFE%22%20fill-rule%3D%22nonzero%22%20opacity%3D%220.5%22%2F%3E%0A%3C%2Fsvg%3E%0A')

// 			&::-webkit-input-placeholder
// 				opacity: 0.5
// 				color: white
// 			&:-webkit-input-placeholder
// 				opacity: 0.5
// 				color: white
// 			&::-moz-placeholder
// 				opacity: 0.5
// 				color: white
// 			&:-moz-placeholder
// 				opacity: 0.5
// 				color: white
// 			&:-ms-input-placeholder
// 				opacity: 0.5
// 				color: white




// .body__flights-nav
// 	margin: 0 -10px 30px
// 	border-bottom: 2px solid #E6EAF2
// 	.nav-tabs
// 		list-style: none
// 		li
// 			float: left
// 			position: relative
// 			margin-right: 30px
// 			padding: 0 0 25px 0
// 			transition: opacity 0.3s ease
// 			-webkit-transition: opacity 0.3s ease
// 			&.active
// 				color: $green
// 				&:before
// 					position: absolute
// 					left: 0
// 					right: 0
// 					bottom: -2px
// 					height: 2px
// 					border-radius: 2px
// 					content: ''
// 					background-color: $green
// 				a
// 					color: $green
// 				svg
// 					g
// 						stroke: $green

// 			a
// 				color: $grey_b6
// 				font-size: 15px
// 				line-height: 24px
// 				text-decoration: none
// 				text-transform: uppercase
// 			svg
// 				display: inline-block
// 				vertical-align: top
// 				margin: 4px 10px 0 0




// .schedule-table
// 	margin-bottom: 35px
// 	// font-size: 0
// 	// letter-spacing: -.36em
// 	.td
// 		position: relative
// 		z-index: 2
// 		// display: inline-block
// 		vertical-align: top
// 		letter-spacing: normal
// 		text-transform: uppercase
// 		box-sizing: border-box


// 		// &:nth-child(1)
// 		// 	width: 12.5%
// 		// &:nth-child(2)
// 		// 	width: 37.5%
// 		// &:nth-child(3)
// 		// 	width: 25%
// 		// &:nth-child(4)
// 		// 	width: 25%


// 		.flights-info
// 			opacity: 0
// 			visibility: hidden
// 			float: right
// 			width: 18px
// 			height: 24px
// 			margin: 3px 0
// 			cursor: pointer
// 			background-repeat: no-repeat
// 			background-position: center center
// 			background-color: transparent
// 			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22%23B6B9BF%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M2%200a2%202%200%201%200%200%204%202%202%200%200%200%200-4%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%200a2%202%200%201%200%200%204%202%202%200%200%200%200-4%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M16%200a2%202%200%201%200%200%204%202%202%200%200%200%200-4%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')

// 			transition: opacity 0.3s ease
// 			-webkit-transition: opacity 0.3s ease

// 		.flights-avatar
// 			float: right
// 			width: 24px
// 			height: 24px
// 			margin: 3px 0
// 			border-radius: 12px
// 			overflow: hidden
// 			img
// 				display: block
// 				width: 100%


// 	.thead
// 		.td
// 			color: #7f8490
// 			font-size: 11px
// 			line-height: 15px
// 			padding-bottom: 15px


// 	.tbody
// 		.tr
// 			cursor: pointer
// 			position: relative
// 			border-bottom: 1px solid #E6EAF2
// 			&:last-child
// 				border: none

// 		.td
// 			padding-top: 17px
// 			padding-bottom: 13px
// 			font-size: 12px
// 			line-height: 20px
// 			.mobile-number
// 				display: block
// 				// color: $grey_b6

// 			.red
// 				color: $red
// 			.yellow
// 				color: $yellow


// .schedule-more
// 	color: $grey_b6
// 	font-size: 16px
// 	line-height: 22px


// .flight-form-search
// 	padding: 30px
// 	position: relative
// 	&:before
// 		position: absolute
// 		z-index: 1
// 		top: 0
// 		bottom: 0
// 		left: 0
// 		right: 0
// 		content: ''
// 		background-color: white

// 	.flight-form-col
// 		position: relative
// 		z-index: 2
// 		margin-bottom: 20px
// 		&:nth-child(5)
// 			margin-bottom: 0
// 		&:last-child
// 			margin-bottom: 0


// 		.flight-form-col-wrapper
// 			position: relative
// 			z-index: 2
// 			padding: 20px 20px 16px
// 			border: 1px solid #D8DCE6
// 			text-transform: uppercase
// 			overflow: hidden
// 			.flight-form-col__icon
// 				position: absolute
// 				top: 24px
// 				left: 20px
// 				background-repeat: no-repeat
// 				background-position: center center
// 				&.icon-departure
// 					width: 10px
// 					height: 10px
// 					background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M1%201l8%208%22%20fill%3D%22%23FEFEFE%22%2F%3E%0A%20%20%20%20%3Cg%20stroke%3D%22%23474B53%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M1%201l7.7%207.7%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M9%202.7V9H2.7%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 				&.icon-arrivals
// 					width: 10px
// 					height: 10px
// 					background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M1%209l8-8%22%20fill%3D%22%23FEFEFE%22%2F%3E%0A%20%20%20%20%3Cg%20stroke%3D%22%23474B53%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M1%209l7.7-7.7%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M2.7%201H9v6.3%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 				&.icon-date
// 					top: 22px
// 					width: 14px
// 					height: 13px
// 					background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20stroke%3D%22%23474B53%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M1%2012h12V3H1z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M4%201v3%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10%201v3%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')
// 				&.icon-passenger
// 					top: 21px
// 					width: 12px
// 					height: 16px
// 					background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20stroke%3D%22%23464B54%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6%207a3%203%200%201%201%200-6%203%203%200%200%201%200%206z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10%2015H2v-1a4%204%200%200%201%208%200v1z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')




// 			.flight-form-col__select
// 				position: relative
// 				z-index: 1
// 				padding: 0 0 0 20px
// 				white-space: nowrap
// 				span
// 					color: #A5AAB2

// 			.flight-form-col__airportCode
// 				position: absolute
// 				z-index: 2
// 				top: 15px
// 				right: 0
// 				padding: 3px 20px 3px 15px
// 				background-color: white
// 				border-left: 1px solid #D8DCE6

// 	.input-radio
// 		margin-bottom: 20px


// 	[type="submit"]
// 		position: relative
// 		z-index: 2
// 	// 	float: right
// 	// 	width: 30px
// 	// 	height: 40px
// 	// 	margin: 10px 0
// 	// 	border: none
// 	// 	background-repeat: no-repeat
// 	// 	background-position: center center
// 	// 	background-color: transparent
// 	// 	background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20stroke%3D%22%23474B53%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M14%2012.1a6.5%206.5%200%201%201-9-9.2%206.5%206.5%200%200%201%209.2%209.2z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M4.5%2011.7L1%2015.3%22%20stroke-linecap%3D%22round%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A')

// .home-section
// 	padding: 30px 0
// 	.tab-content
// 		margin-bottom: 60px
// 	.flight-form-search
// 		margin-bottom: 30px
// 	// .news-list
// 	// 	margin-bottom: 30px





// // .simple-section
// // 	padding: 50px 0 20px

// // 	h3
// // 		margin-bottom: 10px
// // 		text-transform: uppercase

// // 	&.section-white
// // 		background-color: white
// // 	&.section-grey
// // 		background-color: $grey_f7

// // 	&.section-catalog
// // 		padding: 20px 0

// // 	&.section-products
// // 		// overflow: hidden

// // 		h3
// // 			margin-bottom: 20px

// // 	&.home-articles
// // 		padding-bottom: 0

// @media (max-width: 1120px)

// 	.schedule-table
// 		.tbody .td, .thead .td
// 			&:first-child
// 				span
// 					display: block

// @media (max-width: 767px)

// 	// .tab-content > .tab-pane
// 	// 	text-align: center

// 	.schedule-table
// 		margin: 0 -5px 25px
// 		text-align: left
// 		// .thead .td
// 		// 	white-space: nowrap
// 		.tbody .td, .thead .td
// 			padding-left: 10px
// 			padding-right: 10px
// 			span
// 				display: block

// 	.schedule-more
// 		font-size: 14px
// 		line-height: 18px
// 		display: inline-block



// @media (min-width: 768px)

// 	.video-section
// 		height: 100vh
// 		.container
// 			h1
// 				font-size: 18vmin
// 				line-height: 19vmin
// 				bottom: 160px
// 				left: 30px
// 				span
// 					&:last-child
// 						margin-top: 20px

// 	.schedule-table
// 		.thead
// 			.td
// 				padding-bottom: 25px

// 		.tbody
// 			.td
// 				padding-top: 22px
// 				padding-bottom: 18px
// 				font-size: 18px
// 				line-height: 30px
// 				&:nth-child(2)
// 					font-size: 24px


// 	.weather-block
// 		top: 100px
// 		right: 40px

// 	.loaded, .loaded-fast
// 		.weather-block
// 			top: 160px



// 	.flight-form-search
// 		padding: 40px 0
// 		position: relative
// 		&:before
// 			left: -40px
// 			right: -40px

// 		// .flight-form-col
// 		// 	&:nth-child(5)
// 		// 		margin-bottom: 0

// 		.input-radio
// 			margin: 10px 0


// 	.home-section
// 		padding: 55px 0 30px
// 		.tab-content
// 			margin-bottom: 70px
// 		.flight-form-search
// 			margin-bottom: 95px

// 	.news-list
// 		margin-bottom: 83px



// // @media (min-width: 1025px) and (max-width: 1240px)

// // 	.simple-section
// // 		padding: 80px 0
// // 		&.section-products
// // 			.container
// // 				padding: 0 30px


// @media (min-width: 1025px)

// 	.video-section
// 		.container
// 			h1
// 				bottom: 200px
// 				left: 10px

// 	.home-section
// 		padding: 55px 0 165px
// 		.tab-content
// 			margin-bottom: 70px
// 		.flight-form-search
// 			margin-bottom: 95px
// 		.news-list
// 			margin-bottom: 83px


// 	.weather-block
// 		right: 15px

// 	.schedule-table
// 		.tbody
// 			.tr
// 				&:before
// 					position: absolute
// 					z-index: 1
// 					top: -1px
// 					bottom: -1px
// 					left: -40px
// 					right: -40px
// 					content: ''
// 					background-color: transparent
// 					transition: background-color 0.3s ease
// 					-webkit-transition: background-color 0.3s ease
// 				&:hover
// 					.flights-info
// 						opacity: 1
// 						visibility: visible
// 					&:before
// 						background-color: white


// 		.td
// 			.flights-avatar
// 				margin: 3px 40px 3px 0


// 	.flight-form-search
// 		.input-radio
// 			display: inline-block
// 			margin: 22px 40px 0 0

// 	.header__flights-actions
// 		left: 15px
// 		right: 15px

// // 	.simple-section
// // 		padding: 80px 0 30px
// // 		h3
// // 			margin-bottom: 50px
// // 		&.section-products
// // 			h3
// // 				margin-bottom: 70px

// // 		&.section-catalog
// // 			padding: 20px 0 30px





